<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descrition" content="Free Sentimental Tweet Analysis">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='root/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='root/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='root/favicon-16x16.png') }}">

    <link rel="manifest" href="/site.webmanifest">
    <meta name="google-site-verification" content="wtQgEQcxuzDz2EvIBjfGdq7_6LpLRTKrpWCyTkPoEVs" />
    <script data-ad-client="ca-pub-3623021523361199" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://kit.fontawesome.com/f8ae06245a.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WXDVK94FSC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WXDVK94FSC');
</script>
    <title>Free Tweet  Sentimental Analysis</title>

</head>

<body>


    <div class="wrapperMyc">
        <div class="containerMy ">
            <!-- nav bar-->
            <div class="navbarMyc">
                <nav class="navMenu">

                    <a href="/">Home</a>

                    <a href="/tweetanalyze">Twitter</a>


                </nav>
            </div>
            <!-- end nav bar-->

            <!-- nav-line-->
            <hr class="lineMyc" style="color:#fddb3a;height: 3px;">
            <!-- navline ends-->




            <!-- Floating Social Media bar Starts -->
            <div class="float-sm">

                <div class="fl-fl float-tw">
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/ozkurty1" target="_blank">Follow us!</a>
                </div>
                <div class="fl-fl float-gp">
                    <i class="fa fa-google-plus"></i>
                    <a href="" target="_blank">Recommend us!</a>
                </div>



            </div>
            <!-- Floating Social Media bar Ends -->







            <!-- content-->

            <div class="mycMainContent">


                <!--expl sec-->
                <div class="explMyc" style="margin-top: 10rem;">
                    <h1>Sentimental Analysis for Tweets?</h1>

                    <p class="liningMyc">Sentiment analysis, also known as opinion mining or emotion AI,is the process of analyzing online pieces of writing to determine the emotional tone they carry, whether they’re positive, negative, or neutral. Sentiment analysis helps
                        to find the author’s attitude towards a topic. Sentiment analysis tools categorize pieces of writing as positive, neutral, or negative. </p>

                </div>
                <!--expl sec ends-->

                <div class="addedDiv" style="margin-top: 10rem;">
                    <h1>TWİTTER SENTİMENTAL TWEET ANALYSİS</h1>
                    <hr class="lineMyc" style="color:#fddb3a;height: 2px;">
                </div>



                <div class="innerDiv2">
                    <div class="leftSidedDiv2">
                        <p class="textSec">TWEET SCRAPİNG : This app finds the user by username and scrapes a few tweets. We use python selenium library to scrape data from twitter.
                        </p>
                        <div class="leftsidedDiv22">
                            <p>Some popular accounts:</p>
                            <div class="popAccount"> <img class="imgPP" src="https://pbs.twimg.com/profile_images/1423663740344406029/l_-QOIHY_400x400.jpg" alt="ElonMuskPP"> <a href="https://twitter.com/elonmusk" style="color: aliceblue; text-decoration: none;">@elonmusk</a>                                : %90 Neutral

                            </div>
                            <div class="popAccount secondpopAccount"> <img class="imgPP" src="https://pbs.twimg.com/profile_images/1135995577118756865/4cjvetRG_400x400.jpg" alt="MirandaKerrPP"> <a href="https://twitter.com/MirandaKerr" style="color: aliceblue; text-decoration: none;">@MirandaKerr</a>                                : %64 Positive

                            </div>
                            <div class="popAccount lastpopAccount"> <img class="imgPP" src="https://pbs.twimg.com/profile_images/1329647526807543809/2SGvnHYV_400x400.jpg" alt="BarackObamaPP"> <a href="https://twitter.com/BarackObama" style="color: aliceblue; text-decoration: none;">@barackobama</a>                                :%82 Neutral

                            </div>
                        </div>

                    </div>
                    <div class="rightSidedDiv2">
                        <div class="leftİnner2 twLeftİnner2">
                            <div class="TextAnalysisMyc">
                                <p>SEARCH THE USERNAME TO ANALYZE.</p>
                            </div>
                            <div class="formSec">
                                <form action="/tweetanalyze" method="POST" class="form">
                                    <input type="username" name="username" class="inputC twAnalysisMyc" placeholder="username" autocomplete="off">
                                    <input type="submit" class=" btn btn-primary mycButton " placeholder="search" value="SEND">
                                </form>
                            </div>


                            <div class="PpTw">
                                <p class="sendText">{{name}}</p>
                                <p class="sendText2">{{username}}</p>

                            </div>


                            <div class="resultTw">
                                <h4 class="sendText"> {{tweetanalysis1}} </h4>
                                <p class="sendText"> {{timewarning}} </p>




                            </div>

                        </div>
                    </div>

                </div>
                <div class="innerDiv1">
                    <div class="leftMostDiv">
                        <p class="textSec">L</p>
                    </div>

                    <div class="leftSidedDiv">
                        <div class="textSec">
                            <h2>HOW TWEET ANALYZER WORKS?</h2>
                            <h6 class="liningMyc">
                                This application sends your text or tweets to an artificial intelligence program that can perform sentimental analysis and gives the results FOR FREE.  We use a NLP algorithm for analyzing content.Just enter some text on the side! </h6>
                            <h5>NOTE: This is a beta version. We still are under development. Please send your comments and criticisms via e-mail.</h5>
                        </div>
                    </div>
                    <div class="rightMostDiv">
                        <p class="textSec">R</p>
                    </div>
                    <div class="rightSidedDiv">
                        <div class="leftİnner2">
                            <div class="TextAnalysisMyc">
                                <p>Write something here and try how sentimental analysis consequences are.</p>
                            </div>
                            <div>
                                <form action="/tweetanalyze" method="POST" class="form">
                                    <input type="text" name="text" class="inputC" placeholder="Test it with your text !" autocomplete="off">
                                    <input type="submit" class=" btn btn-primary mycButton " value="SEND">
                                </form>
                            </div>
                        </div>
                        <div class="lineMyc"></div>
                        <div class="resultMyc">
                            <p>RESULTS:</p>
                            <h4 class="sendText"> {{ textanalysis1}}</h4>
                            <p class="sendText"> {{ timewarning}}</p>


                        </div>

                    </div>


                </div>
                <div class="innerDiv3">
                    <h2 style="color: white; padding-top: 75px;padding-left: 15px;">FAQs</h2>
                    <p style="color: white;padding-left: 15px;padding-top: 15px;">
                        HOW IS THE PRİCİNG? This tool is completely free!
                    </p>
                    <p style="color: white; padding-left: 15px;">
                        HOW AI WORKS FOR SENTİMENTAL ANALYSİS? Sentiment analysis works by breaking a message down into topic chunks and then assigning a sentiment score to each topic.
                    </p>
                    <p style="color: white; padding-left: 15px;padding-bottom: 15px;">
                        WHAT IS IT USED FOR? Sentimental analysis used for analyzing market needs, enhancing customer experience and tracking customers feedback easily.
                    </p>

                </div>



                <!-- end content-->







                <!-- footer-->

                <!--footer starts from here-->
                <footer class="footer" id="about-contact">
                    <div class="container bottom_border">
                        <div class="row">
                            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                                <h5 class="headin5_amrc col_white_amrc pt2">How It works?</h5>
                                <!--headin5_amrc-->
                                <p class="mb10">This web app simply sends request to a AI api which designed to analyze sentiments in any text.We first scrape some (20-25, and it depends how much tweets user shared) tweets on the profile and have it analyzed and then
                                    share results with you. </p>
                                <p><i class="fa fa-location-arrow"></i> Contact me: <a href="mailto:ozkurryasin@gmail.com">Send email</a></p>
                                </p>

                                <p><i class="fa fa fa-link"></i>further info about AI part: <a href="https://rapidapi.com/japerk/api/text-processing/details"> Click here</a> </p>


                            </div>





                            <div class=" col-sm-4 col-md  col-12 col">
                                <h5 class="headin5_amrc col_white_amrc pt2">Criticize the app : </h5>
                                <!--headin5_amrc ends here-->

                                <ul class="footer_ul2_amrc">
                                    <li><a href="#"><i class="fab fa-link fleft padding-right"></i> </a>
                                        <p><a href="mailto:ozkurryasin@gmail.com">Send email</a></p>
                                    </li>
                                </ul>
                                <!--footer_ul2_amrc ends here-->
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <ul class="foote_bottom_ul_amrc">
                            <li><a href="/">Home</a></li>

                        </ul>
                        <!--foote_bottom_ul_amrc ends here-->
                        <p class="text-center">Copyright @2021 | Designed by <a href="#">Yasin Özkurt</a></p>

                        <ul class="social_footer_ul">
                            <li><a href="https://twitter.com/ozkurty1"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/yasin.ozkurt0/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/yasinozkurt"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <!--social_footer_ul ends here-->
                    </div>

                </footer>



                <!-- end footer-->








            </div>
        </div>

    </div>

</body>

</html>